body {
    margin: 0;
    padding: 0;
     font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        "Courier New",
        monospace;
    line-height: 1.6;
    font-size: 16px;
    background-color: #000000;
    color: #e5e7eb;}

h1 {
    color: #ffffff;}

p {
     line-height: 1.6;
    font-size: 18px;}

