body {
  margin: 0;
  padding: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  line-height: 1.6;
  font-size: 16px;
  background-color: #000000;
  color: rgb(255, 239, 208);
}

.topbar {
  top: 0px;
  position: fixed;

  width: 100%;
  height: 50px;
  background-color: rgb(255, 239, 208);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  box-sizing: border-box;
  border-bottom: 3px solid rgba(255, 210, 119, 1);
}
.topbar2 {
  top: 0px;
 
  
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  
 
}

.social-icons a {
  color: rgb(0, 0, 0);
  font-size: 35px;
  margin-left: 30px;
  text-decoration: none;
  transition: 0.15s ease;
}

.social-icons a:hover {
  color: #db3b3b;
} 

.text-box {
  margin: 50px auto;
  max-width: 900px;
  line-height: 1.7;
  padding: 30px;
  width: 90%;
}

.about-title {
  text-align: center;
  margin-top: 30px;
  font-size: 45px;
}
.logo i {
  position: absolute;
  transition: opacity 0.15s ease, transform 0.15s ease;
}

.ghost-icon {
  opacity: 1;
  transform: scale(1);
}

.menu-icon {
  opacity: 0;
  transform: scale(0.8);
  color: #db3b3b;
}

.logo:hover .ghost-icon {
  opacity: 0;
  transform: scale(0.3);
}

.logo:hover .menu-icon {
  opacity: 1;
  transform: scale(1);
}
.logo {
  position: relative;
  font-size: 35px;
  color: black;
  cursor: pointer;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drawer {
  position: fixed;
  top: 50px;
  left: 0;

  width: 240px;
  height: 100%;

  background: rgb(255, 239, 208);
  color: #db3b3b;

  transform: translateX(-100%);
  transition: transform 0.3s ease;

  padding-top: 80px;
}
.drawer ul {
  list-style: none;
}

.drawer li {
  padding: 15px 10px;
}

.drawer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}
.drawer.open {
  transform: translateX(0);
}
.drawer li:hover a {
  color: #db3b3b;
  font-weight: bold;
}

.word {
  display: inline; 
  transition: color 0.5s, font-weight 0.3s;
  cursor: default;
}

.word:hover {
  color: #db3b3b;
  font-weight: bold;
}
.projects {
  align-items: center;
  text-align: center;
  font-size: 45px;
}
.heading {
  align-items: center;
  text-align: center;
}

#skills {
  padding: 60px 20px;
  text-align: center;
}


.skills-title {
  font-size: 45px;
  margin-bottom: 50px;
}

.skills-category {
  margin-bottom: 50px;
}

.skills-category h3 {
  font-size: 22px;
  margin-bottom: 30px;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  max-width: 900px;
  margin: 0 auto;
}


.skill-item {
  padding: 20px;
  text-align: center;
}


.skill-item i {
  font-size: 32px;
  margin-bottom: 10px;
}


.skill-item h4 {
  font-size: 18px;
  margin: 8px 0;
}


.skill-item p {
  font-size: 14px;
  line-height: 1.4;
}
