body {
    margin: 0;
    padding: 0;
     font-family:
        ui-monospace,
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        "Courier New",
        monospace;
    line-height: 1.6;
    font-size: 16px;
    background-color: #000000;
    color: rgb(255, 239, 208);}


.topbar {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 239, 208);
    display: flex;
    align-items: center;
   justify-content: space-between; 
    padding-right: 30px;
    box-sizing: border-box;
}

.social-icons a {
    color: rgb(0, 0, 0);
    font-size: 35px;
    margin-left: 30px;
    text-decoration: none;
    transition: 0.15s ease;
}

.social-icons a:hover {
    color: #db3b3b;
}

.text-box {
    border: 50px solid #000000;
                 /* space inside border */
    margin: 50px auto;          /* space outside + center */
    max-width: 900px;           /* readable width */
    line-height: 1.7;
    padding-left: 30px;
    padding-right: 20px;
    min-width: 700;
    
}
.about-title {
    text-align: center;

}
.logo {
  color: rgb(0, 0, 0);
    font-size: 35px;
    margin-left: 30px;
    text-decoration: none;
    transition: 0.15s ease;
   
}

.logo a:hover {
    color: #db3b3b;
}